---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Contacto">
	<h1>Contacto</h1>
	<p>Puede contactarnos a través de nuestro formulario de contacto o a través de nuestras redes sociales.</p>
</BaseLayout>