---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<!-- Inicio -->
<BaseLayout title="INACONS - Ingeniería y Construcción">
	<h1>INACONS - Ingeniería y Construcción</h1>
	<p>Más de 15 años construyendo proyectos de alta calidad</p>
</BaseLayout>