---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Nosotros">
	<h1>Nosotros</h1>
	<p>INACONS nació en el Perú con el objetivo de ofrecer servicios de ingeniería y construcción de alta calidad.</p>
</BaseLayout>